@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.content img {
    margin-top: 25vh;
    margin-left: 15vw;
}

#ti {
    margin-top: 13vh;
    color: chartreuse;
    font-family: lobster;
    font-size: 4vw;
}

.navbar ul {
    float: right;
    margin-top: 5vh;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: lobster;
    font-size: 30px;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #0f0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%
}

